# Practica 1. Metacritic Score

We import python libraries.

In [76]:
import pandas as pd

In [77]:
#Importen data set from the local machine.
path = "C:\\Users\\avillavicencio\\Desktop\\Tools\\DS\\data_sets\\all_games.csv"
df = pd.read_csv(path)

In [78]:
#Check a correct import of the data with a .head()
df.head()

,index,name,platform,release_date,summary,meta_score,user_review
0,0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [79]:
df.dtypes

index            int64
name            object
platform        object
release_date    object
summary         object
meta_score       int64
user_review     object
dtype: object

In [80]:
#Our data_set has a index column, we can set index column as index of the DataFrame.
df.set_index('index', inplace=True)
df.head()

,name,platform,release_date,summary,meta_score,user_review
index,,,,,,
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [81]:
#User review has data type object, we can convert data to int64 and multiply by 10 to get the same scale than meta_score.

#First we will transform column data from object to float.
df['user_review'] = pd.to_numeric(df['user_review'], errors='coerce')
df.dtypes

name             object
platform         object
release_date     object
summary          object
meta_score        int64
user_review     float64
dtype: object

In [82]:
#We multiply user_review * 10 to get tha same scale than meta_score
df['user_review'] *= 10
df.head()

,name,platform,release_date,summary,meta_score,user_review
index,,,,,,
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,91.0
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,74.0
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,77.0
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,84.0
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,79.0

In [83]:
#We check if we have missing or NaN values on the meta score or  user_review.
print(df['user_review'].isna().any())
print(df['meta_score'].isna().any())

True
False

In [85]:
#We delete values NaN or missing.
df.dropna(subset=['user_review'], inplace=True)
print(df['user_review'].isna().any())

False